<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
    <h1>Please log in here!</h1>
    <form id="login" action="/login" method="post">
        <label for="username_form"></label>
        <input type="text" placeholder="Enter your username..." id="username" name="username">
        <input type="text" name="password" id="password" placeholder="Enter your password...">
        <button>Submit</button>
    </form>
    <a href="/register">SignUp</a>
</body>
<script>
    function login() {
        const username = $("#username").val();
        const password = $("#password").val();

        $.ajax({
            url: 'localhost:'
        })
    }
</script>
</html>